@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;  
}

.nav-bar{
    background: #7e7cec;
    height: 80px;
    width: 99%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    font-family: 'Roboto Mono', monospace;
}

.nav-title{
    display: flex;
    justify-content: right;
    font-family: 'Roboto Mono', monospace;
    color: yellow;
    font-size: 90%;     
    position: absolute;
    right: 100px;
}

.box{
    font-size: 60px;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    width: 50%;
}

.box1{
    background: purple;
    justify-content: flex-start;
    max-height: 400px;
    min-width: 30vw;
}

.box2{background: lightskyblue;}
.box3{background: darkblue;}
.box4{background: blue;}
.box5{background: green;}
.box6{background: greenyellow;}
.box7{background: grey;}
.box8{background: ivory;}
.box9{background: khaki;}
.box10{background: lavender;}
