@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body{
    
    
    background-color: darkgray;
    
    

}

.txt{
    font-family: 'Roboto Mono', monospace;
}

.marg{
    margin: 20px;
}
.large{
    font-size: 30px;
}

.center{
    text-align: center;

}

.left{
    text-align: left;
}

.short{
    width: 200px;
}

.nav-bar{
    background: #7e7cec;
    height: 80px;
    width: 99%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    font-family: 'Roboto Mono', monospace;
}

.nav-title{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color: yellow;
    font-size: 90%;
    align-items: baseline;
    
    
}

.links{
    display: flex, absolute;
    width: 1000px;
    height: 70px;
    

}
.cont{
    display: flex;
    min-height: 70px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;

}

.box-one{

    display: flex;
    max-width: 0%;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.box-two{
    display: inline-flex;
    background-color: #7e7cec;
    
    height: 70px;
    width: 100%;
    flex-direction: row-reverse;

}

.box-three{
    display: flex;
    justify-content: right;
    

}